body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.menubottom { margin:0px; padding:0px; background:url(../images/menubottom.png) repeat-x bottom left;   
}
.newmenu {background-color:rgba(255, 255, 255, 0.9); padding:0px 0px; color:#000; 
    font-style: normal; position:absolute; left:16%; margin-right:0px; margin-top:10px; z-index:1000000000000000; border:solid 1px #e7e7e7;}
a {text-decoration: none;}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.toggleMenu {
    display:  none;
    background: #fff;
    padding:8px;
    color: #800c68; text-align:center;
}
a.toggleMenu:hover{

    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; color: #fff;
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 14em;
}
.nav a {
    padding: 7px 15px;
    color:#2d2d2d; font-family: 'Open Sans', sans-serif; text-transform:normal; font-size:14px; font-weight:normal;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-right:1px solid #adadad;
}
.nav > li:last-child {
    border-right:0px solid #adadad;
}
.nav > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;  border-right:solid 1px #e7e7e7; border-left:solid 1px #e7e7e7; border-bottom:solid 1px #e7e7e7;

}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li ul {
border-right:solid 1px #e7e7e7; border-left:solid 1px #e7e7e7; border-bottom:solid 1px #e7e7e7;}
.nav li li a {
    display: block;
    background: #fff;
    position: relative;
    z-index:100;
    border-top: 1px solid #d5d5d5;
	color:#2d2d2d;font-size:14px; 
}
.nav li li a:hover {text-decoration:none !important; color:#9ffffe;}
.nav li li li a {
    background:#fff;
    z-index:200;
    border-top: 1px solid #d5d5d5;color:#2d2d2d;font-size:14px; 
}

@media screen and (max-width: 768px) {
    .active {
        display: block;color: #2d2d2d;text-decoration:none !important; 
    }
.nav  {background:#fff; color:#2d2d2d !important;}	
    .nav > li {
        float: none;color:#2d2d2d !important;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%; color:#2d2d2d !important;
    }
	.nav a {  border-top: 1px solid #fff;
	color:#2d2d2d;font-size:14px; }
	.nav a:hover { 
	color:#ff0083;font-size:14px; }
.nav li {
			color:#2d2d2d !important; border-right:0px;  
   
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static; 
    }
	
	.newmenu {background-color:rgba(255, 255, 255, 0.9); padding:0px 0px; color:#000; 
    font-style: normal; position:absolute; left:215px; margin-right:0px; margin-top:10px; z-index:1000000000000000; border:solid 1px #e7e7e7;}
	

}

@media screen and (min-width:763px) and (max-width:992px) {

.newmenu {background-color:rgba(255, 255, 255, 0.9); padding:0px 0px; color:#000; 
    font-style: normal; position:absolute; left:215px; margin-right:0px; margin-top:10px; z-index:1000000000000000; border:solid 1px #e7e7e7;}
	
}

@media screen and (min-width:993px) and (max-width:1100px) {
.thumbcaption {font-family: 'Roboto Condensed', sans-serif; color:#fff; font-size:20px; text-transform:uppercase; font-weight:100; padding-top:45px;}	
.newmenu {background-color:rgba(255, 255, 255, 0.9); padding:0px 0px; color:#000; 
    font-style: normal; position:absolute; left:215px; margin-right:0px; margin-top:10px; z-index:1000000000000000; border:solid 1px #e7e7e7;}
	
}
@media screen and (min-width:1101px) and (max-width:1200px) {
	.newmenu {background-color:rgba(255, 255, 255, 0.9); padding:0px 0px; color:#000; 
    font-style: normal; position:absolute; left:19%; margin-right:0px; margin-top:10px; z-index:1000000000000000; border:solid 1px #e7e7e7;}
	
}