


<div> <!-- uiView:  -->
  <div ui-view="" class="ng-scope">
    <div class="ui-base ng-scope"> <!-- uiView:  -->
      <div ui-view="" class="ng-scope">
        <div class="dashboard-page ng-scope">
          <div class="container-fluid">
            <div class="row"> <!-- uiView:  -->
              <div ui-view="" class="col-sm-12 col-md-12 main ng-scope">
                <div class="ng-scope">
                  <div class="snap-drawers">
                    <snap-drawer class="snap-drawer snap-drawer-left">
                      <div class="snap-menu">
                        <div class="sidebar-header text-center">

                          <img class="sidebar-img img-circle" src="images/flat-avatar.png"> </div>
                        <ul class="snap-ul">
                          <li ng-class="{active: $state.includes('overview')}" class="active"><a ui-sref="overview" href="#/dashboard/overview">HOME</a></li>
                          <li ng-class="{active: $state.includes('reports')}"><a  href="reports.html">REPORTS</a></li>
                          <li><a ui-sref="login" href="#/login">LOGOUT</a></li>
                          <li><a href="http://strapui.com">MORE PREMIUM THEMES</a></li>
                        </ul>
                      </div>
                    </snap-drawer>
                  </div>
                  <snap-dragger></snap-dragger>
                  <snap-content snap-opt-tap-to-close="false" class="snap-content"> <a ng-click="menuOpen = !menuOpen" snap-toggle="left"> <span class="menutoggle"> <i class="fa fa-bars fa-2x" ng-hide="menuOpen"></i> <i class="fa fa-times fa-2x ng-hide" ng-show="menuOpen"></i> </span> </a>
                    <div class="fr">
                      <h2>Overview <small>Why is Versatile Theme so awesome?</small></h2>
                    </div>
                    <div class="jumbotron">
                      <div class="container">
                        <h1>Welcome!</h1>
                        I don't want to bloat this Versatile Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have bower. Let's keep it real clean!<br>



                        <form role="form" class="bottom-75" ng-submit="submit()">
                          <div class="table-form">
                            <div class="form-groups">
                              <div class="form-group">
                                <input type="text" class="form-control input-lg" id="" placeholder="EMAIL" ng-model="username">
                              </div>
                              <div class="form-group">
                                <input type="password" class="form-control input-lg" id="" placeholder="PASSWORD">
                              </div>


                            </div>
                            <div class="button-container">
                              <button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
                            </div>
                          </div>
                          <div class="remember">
                            <label class="checkbox1" for="Option">
                              <input id="Option" type="checkbox" class="">
                              <span></span>
                            </label>
                            remember me
                            <span class="pass"> forgot password?</span>
                          </div>
                        </form>


                        <br>
                        <p> <a class="btn btn-primary btn-lg btn-white" ui-sref="login" href="#/login">Logout</a> </p>
                      </div>
                    </div>
                  </snap-content>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



