<style>
ul li {
list-style-type: none;
padding: 0px;
margin: 0px;
}
</style>







<div>

  <snap-drawer>
        <div class="snap-menu">
          <div class="sidebar-header text-center">
            <img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
          </div>
          <ul class="snap-ul">
            <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
            <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">REPORTS</a></li>
            <li><a ui-sref="login">LOGOUT</a></li>
            <li><a href="http://strapui.com">MORE PREMIUM THEMES</a></li>
          </ul>
        </div>
      </snap-drawer>


	<snap-dragger></snap-dragger>

  <snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>



















		<div class="jumbotron"  style="margin:0px !important; padding:0px !important;">
			<div class="container ">



        <!--page -->

        <!--new page-->

        <div class="login-page">
          <div class="img-container">
            <div class="text-center pull-right photo">
              <img src="images/flat-avatar.png" class="user-avatar img-circle img-responsive" />
              <h1>OPEN <span>FDA</span><br /><small>object stream</small></h1>
            </div>
          </div>

          <div class="form-content">
            <div class="pro-link">

            </div>
            <form role="form" class="bottom-75" ng-submit="submit(0,0)">
              <div class="table-form">
                <div class="form-groups">
                  <div class="form-group">

                    <input  class="form-control input-lg" ng-model="searchItem" type="text" placeholder="SEARCH ITEM">
                  </div>
                  <div class="form-group">
                    <select id="searchtype" class="form-control input-lg" ng-model="selectType" >
                      <option value="">Select Tool</option>
                      <option value="device">Device Recalls</option>
                      <option value="drug">Drug Recalls</option>
                      <option value="food">Food Recalls</option>
                    </select>

                  </div>


                </div>
                <div class="button-container">
                  <button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
                </div>
              </div>

            </form>
          </div>




        </div>


        <!--TABLE-->

        <div >
          <div id="tabs">
            <ul>
              <li ng-repeat="tab in tabs"
                  ng-class="{active:isActiveTab(tab.url)}"
                  ng-click="onClickTab(tab)"
                  class="col-lg-2 col-xs-12  nav nav-tabs">{{tab.title}}</li>
            </ul>
            <div class="clearfix"></div>
            <div id="mainView">
              <div ng-include="currentTab"></div>
            </div>
          </div>


          <script type="text/ng-template" id="one.tpl.html">
            <div id="viewOne">
              <div class="searchlisting" style="display:block" >
                <div class="panel  panel-info" style="background-color:transparent ! important" >

                  <div class="" style="background-color:#1ABC9e ! important">
                    <h3 class="panel-title">

                      <ul >
                        <li class="col-lg-2 col-xs-12">Recall Number</li>
                        <li class="col-lg-2 col-xs-12">Product Quantity</li>
                        <li class="col-lg-4 col-xs-12">Reason for Recall</li>
                        <li class="col-lg-2 col-xs-12">State&city</li>
                        <li class="col-lg-1 col-xs-12">Classification</li>
                      </ul>
                      <!--<input class="form-control" ng-model="search" type="text">-->
                    </h3>
                  </div>


                  <div   class="col-lg-12 col-xs-12" style="padding:0px 0px !important" >

                        <ul  ng-repeat="food in foods">
                          <li class="col-lg-2 col-xs-12">{{food.recall_number}}</li>
                          <li class="col-lg-2 col-xs-12">{{food.product_quantity}}</li>
                          <li class="col-lg-4 col-xs-12">{{food.reason_for_recall}}</li>
                          <li class="col-lg-2 col-xs-12">{{food.state}},{{food.city}}</li>
                          <li class="col-lg-1 col-xs-12">{{food.classification}}</li>


                        </ul>







                  </div>

                  {{$scope.total}}


                  <button type="button" class="searchbtn btn btn-primary" ng-click="previous()" >previous  </button>
                  <button type="button" class="searchbtn btn btn-primary" ng-click="next()" >next  </button>


                </div>
              </div>    </div>
          </script>

          <script type="text/ng-template" id="two.tpl.html">
            <div id="viewTwo">
              <div class="clearfix"></div>
              <div class="searchlisting" style="display:block" >

                <div>
                  angular chart
                  <angular-chart options="options"></angular-chart>
                </div>    </div>
            </div>
          </script>

        </div>
        <!--TABLE-->







		</div>
      </div>
	</snap-content>
</div>
